<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>博客首页</title>
        <link rel="stylesheet" href="css/blog.css">
    </head>
    <body>
        <h1>你好 gua</h1>
        <img src=images/doge.gif>
        <div class="blog-new">
            <label>
                博文标题
                <input id='id-input-title' type="text" value="">
            </label>
            <br>
            <label>
                博文作者
                <input id='id-input-author' type="text" value="">
            </label>
            <br>
            <label>
                博文内容
                <textarea id='id-input-content' type="text" value=""></textarea>
            </label>
            <br>
            <label>
                主人密码
                <input id='id-input-mima' type="text" value="">
            </label>
            <br>
            <button id='id-button-submit'>发表新博文</button>
        </div>
        <div class="gua-blogs"></div>
        <script src="js/blogMain.js"></script>
    </body>
</html>
