<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>刘源的主页</title>
        <link rel="stylesheet" href="css/blog.css">
        <script src="http://cdn.bootcss.com/remarkable/1.7.1/remarkable.js"></script>
    </head>
    <body>
        <div class="blog-new">
            <img alt="" class="avatar" height="230" src="img/11763968.png" width="230" style="margin-bottom: 16px !important;">
            <label style="">
                博文标题
                <input id='id-input-title' type="text" value="">
            </label>

            <label>
                博文作者
                <input id='id-input-author' type="text" value="">
            </label>

            <label>
                博文内容
                <textarea id='id-input-content' type="text" value=""></textarea>
            </label>

            <label>
                主人密码
                <input id='id-input-mima' type="text" value="">
            </label>

            <button id='id-button-submit'>发表新博文</button>
            <ul></ul>
        </div>
        <div class="" style="padding-left:11px;">
            <div class="new-user-avatar-cta">
                <p class="mt-3">
                    <strong>
                        Hello World!
                    </strong>
                    欢迎来到刘源的个人主页</p>
            </div>
            <div class="avatar-cta">
                <nav class=" underline-nav" data-pjax=" " role=" navigation" align="center" valign="middle">
                    <a href="/MusicPlayer/index.html" class="underline-nav-item selected" aria-selected="true" role="tab">
                        MusicPlayer
                    </a>
                    <a href="/Minesweeper/index.html" class="underline-nav-item " aria-selected="false" role="tab">
                        Minesweeper
                        <span class="counter"></span>
                    </a>
                    <a href="https://github.com/e174596549" class="underline-nav-item " aria-selected="false" role="tab">
                        GitHub
                        <span class="counter"></span>
                    </a>
                </nav>
            </div>
        </div>
        <!--
        <a href="https://e174596549.github.io/Minesweeper/">扫雷</a>
        <a href="https://e174596549.github.io/MusicPlayer/">播放器</a> -->

        <div class="gua-blogs"></div>
        <script src="js/blogMain.js"></script>
    </body>
</html>
