.gua-blogs {
    padding-left: 8px !important;
    float: left !important;
    width: 75%;
    box-sizing: border-box;
    display: block;
    margin-top: 24px !important;
}

.gua-blog-cell {
    display: block;
    border-radius: 3px;
    justify-content: space-between;
    margin: 5px 0;
    border: solid 1px #ddd;
    font-size: 12px !important;
    color: #767676 !important;
    padding: 16px !important;
    margin-bottom: 16px !important;
}

.blog-content {
    display: block;
    font-weight: 600;
}

a {
    font-weight: 600;
    color: #4078c0;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
    word-wrap: break-word;
    margin-top: 24px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
}

label {
    /*margin-bottom: 16px !important;*/
    font-weight: 600;
    width: 100%
}

input {
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    margin-bottom: 16px !important;
    display: block;
    width: 100%;
}

textarea {
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    /*margin-bottom: 16px !important;*/
    display: block;
    max-width: 229px;
    width: 100%;
    margin-bottom: 16px !important;
    /*resize: none;*/
}

button {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 16px !important;
}

ul {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    border-color: #eee !important;
    border-top: 1px #e5e5e5 solid !important;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    margin-bottom: 16px !important;
}

.blog-new {
    padding-right: 16px !important;
    float: left !important;
    width: 25%;
    box-sizing: border-box;
    display: block;
}

.blog-body {}

* {
    box-sizing: border-box;
}

.blog-content-fulltext {
    margin-top: 8px !important;
    margin-bottom: 16px !important;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    width: 100% !important;
    border-radius: 6px;
    border-style: none;
    /*height: 230px;*/
}

.new-user-avatar-cta {
    font-size: 14px;
    color: #244f79;
    background-color: #f1f6fb;
    border: solid 1px #d0e5f8;
    border-radius: 3px;
    float: right;
    width: 75%;
    box-sizing: border-box;
    display: block;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 24px !important;
}

.avatar-cta {
    background-color: #fff;
    border-bottom: solid 1px #ddd;
    display: inline-block;
    float: right;
    width: 75%;
    /*margin: 0 auto;*/
    position: static;
    height: 62px;
    /*display: table;*/
    /*display: flex;*/
    /*justify-content: center;
    align-items: center;*/
}

.blog-content {
    padding: 0px 16px;
}

.underline-nav-item {
    display: table-cell;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    vertical-align: middle;
    border-bottom: 2px solid transparent;
    margin: 0px auto;
}

.underline-nav {
    margin: 0px auto;
}

.hide {
    display: none;
}
